.m-editor {
  flex: 1;
  padding: 0.25em;
  flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 0;
}

.m-not-first-editor {
  border-left: 1px solid #ded3e2;
}

.m-editor-container {
  display: flex;
  overflow-x: scroll;
}
